.DS_Store
DerivedData
Build
obj
*.obj
*.o
*.a
*.dylib
*.xcuserstate
*.xcbkptlist
*.opensdf
*.sdf
*.ipch
*.lib
*.suo
*.exe
*.ilk
*.pdb
/src/android/librain/bin
/src/android/librain-tester/.settings
/src/android/librain-tester/bin
/src/rain-android-lib/libs
/src/rain-android-lib/gen
/src/rain-android-lib/bin
/src/android/rain/libs/armeabi
/src/rain-android-lib/jni/rainpass/jnitester/Debug
/src/android/rain/jni/rainpass/jnitester/Debug
/src/android/rain/proguard
/Debug
/bin/Debug
/src/android/irukey/proguard
src/ios/irukey/irukey.xcodeproj/xcuserdata/*
lib/Debug/x64/v120/rain-api.exp
src/rain-api-java/.metadata/.lock
src/rain-api-java/.metadata/.log
.metadata/*